imagen-fondo {
    background-image: 'assets/hmhas.png';
    background-size: cover; 
    background-position: center;
    height: 300px; 
    width: 100%; 
    position: relative; 
    overflow: hidden; 
}
.tour-collection-text {
    position: relative;
    z-index: 1;
    padding-top: 63vh; 
    height: 450px;
    text-align: center;
}

.tour-collection-heading {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .tour-collection-text {
        padding-top: 60vh;
    }

    .tour-collection-heading {
        font-size: 1.5rem; 
    }
}

@media (max-width: 576px) {
    .tour-collection-text {
        padding-top: 60vh;
    }

    .tour-collection-heading {
        font-size: 1.2rem; 
    }
}
