<div class="jumbotron jumbotron-fluid" style= "padding-top: 60px">
    <div class="container" style="color: white;">
      <h1 class="display-4 animate__animated animate__zoomIn"><strong>BLOHSH STORE</strong></h1>
      <p class="lead animate__animated animate__fadeInLeft" style="text-align: justify;">
      <br> En esta página web, encontrarás una exclusiva colección de ropa inspirada en el último álbum de Billie Eilish, 
      Hit Me Hard and Soft. Esta edición especial captura la esencia del álbum, reflejando la estética única y la profunda 
      emocionalidad que caracteriza la música de Billie. Cada prenda ha sido diseñada cuidadosamente para resonar con los 
      temas del álbum, ofreciendo a los fans una forma de conectarse aún más con su música.
      <br><br>
      <br>La colección incluye una variedad de artículos, desde camisetas y sudaderas, todos pensados 
      para acompañarte en cada momento. Además, esta línea está vinculada al tour de Hit Me Hard and Soft, 
      lo que la convierte en una pieza de memorabilia única para aquellos que quieran llevar un pedazo de la experiencia del 
      concierto a su vida cotidiana. Ya seas un ávido seguidor de Billie o simplemente un amante de la moda, 
      esta colección es perfecta para expresar tu estilo y tu amor por la música de una de las artistas más influyentes de nuestra época.
    </div>
  </div>

  